{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Danilo Soares</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css'%}" />
	</head>
	<body class="is-preload">
		<!-- Content -->
		<div id="content">
			<div class="inner">
				{% for art in object_list %}
				<!-- Post -->
				<article class="box post post-excerpt">
					<header>
						<h2><a href="#{{ art.article.slug }}">{{ art.article.title}}</a></h2>
						<p>{{art.article.subtitle}}</p>
					</header>
					<div class="info">
						<span class="date">
							<span class="month">{{ art.created_at|date:"M"}}<span>y</span></span> 
							<span class="day">{{ art.created_at|date:"d"}}</span>
						</span>
					</div>
					{% if art.article.image %}
						<a href="#" class="image featured">
							<img src="{{ art.article.image.url }}" alt="thumb" />
						</a>
					{% endif %}
					{% autoescape off %}
						{{art.article.body}}
					{% endautoescape %}
					{% empty %}
					<article class="box post post-excerpt">
						<header>
							<h2><a href=""></a>Nenhum resultado encontrado</a></h2>
							<p>Termo: {{search}}</p>
						</header>
					</article>
				</article>
				{% endfor %}
				<!-- Pagination -->
				{%  include 'includes/pagination.html' %}
				<!--Fim pagination-->
			</div>
		</div>

	<!-- Sidebar -->
		<div id="sidebar">

			<!-- Logo -->
				<h1 id="logo"><a href="{% url 'home'%}">codetips</a></h1>

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="#">Latest Post</a></li>
						<li><a href="#">Archives</a></li>
						<li><a href="#">About Me</a></li>
						<li><a href="#">Contact Me</a></li>
					</ul>
				</nav>

			<!-- Search -->
				<section class="box search">
					<form method="get" action="">
						{% csrf_token %}
						<input type="text" class="text" name="q" placeholder="Search" />
					</form>
				</section>

			<!-- Copyright -->
				<ul id="copyright">
					<li>&copy; codetips.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js'%}"></script>
			<script src="{% static 'assets/js/browser.min.js'%}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js'%}"></script>
			<script src="{% static 'assets/js/util.js'%}"></script>
			<script src="{% static 'assets/js/main.js'%}"></script>

	</body>
</html>